<br />
<br />
<br />
<div >
    <h1>3D Artwork</h1>
</div>

     <div id="A3D">

    <h3>Stills of 3d rooms.</h3>
    <img src="/images3d/2 bed and tea.jpg" width="500" />
    <br />
    <img src="/images3d/piano room .jpg" width="500" />
    <br />
    <img src="/images3d/the garden.jpg" width="500" />
    <br />
    <img src="/images3d/bedroom.jpg" width="500" />
    <br />
    <h3>Mosque</h3>
    <img src="/images3d/1mosques.jpg" width="500" />
    <br />

    <h3>3DO Company computer game "High Heat Baseball" (2001)</h3>
    <img src="/images3d/all baseball faces.jpg" />

    <h3>Stills of my 3d animation short called "Marilyn the Mermaid meets the Sea Monster (1998)"</h3>
    <img src="/images3d/boat and castle.jpg" />
    <br />

    <h3>A still of my 3d animation short called "I Love Lucy" (1998)</h3>
    <img src="/images3d/just lucy.jpg" />
    <br />


</div>