
<br />
<br />
<br />
<div id="AboutMe">
    <h1>Suzanne Federico</h1>
    <h2>suzannefederico1@gmail.com</h2>
    <h2>808-298-8686</h2>
    <h3>Currently residing in Scottsdale, Arizona and I'm willing to relocate.</h3>
    <br />
    <br />

    <a href="https://www.linkedin.com/in/suzanne-federico">
        <h2>LinkedIn</h2>
    </a>

    <a href="http://github.com/suuzinoc">
        <h2>Github</h2>
    </a>

    <h2>Video filmed at Coder Camps of the group project I was involved in called Lister:</h2>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/LhjI543KxBo" frameborder="0" allowfullscreen></iframe>
</div>