
<br />
<br />
<br />
<div>
    <h1>Computer created ArtWork</h1>
</div>
<div id="Computer">
    <h3>Art using Adobe Photoshop and Illustrator</h3>
    <img src="../../imagesComputer/done type ad.jpg" />
    <br />
    <img src="../../imagesComputer/done dream.jpg" width="300" />
    <img src="../../imagesComputer/done eve nine.jpg" width="285" />

    <br />
    <img src="../../imagesComputer/done mother.jpg" width="400" />
    <br />
    <img src="../../imagesComputer/done flowers.jpg" width="250" />
    <img src="../../imagesComputer/done seascape.jpg" width="250" />
    <img src="../../imagesComputer/done stamp.jpg" width="250" />
    <img src="../../imagesComputer/texture.jpg" width="250" />
    <br />

    <h3>Art using Corel Painter</h3>
    <img src="../../imagesComputer/islands.jpg" width="400" />
    <img src="../../imagesComputer/sunset mountain.BMP" width="385" />
    <br />
    <img src="../../imagesComputer/geicko.jpg" width="400" />

    <br />
    <h3>From my Group Project called Lister at Coder Camps. Logos and artwork created using Photoshop.</h3>
    <img src="../../imagesComputer/Listerlogo.png" width="100" />
    <img src="../../imagesComputer/ListerLogoMain.jpg" width="100" />
    <img src="../../imagesComputer/OurLogo.jpg" width="100" />
    <img src="../../imagesComputer/purpleScanner2.png" width="200" />
    <br />
    <br/>

    <img src="../../imagesComputer/homeMain (1).png" width="400" />
    <img src="../../imagesComputer/Presentation1.jpg" width="400" />

</div>