<br />
<br />
<br />
<div >
    <h1>Hand Drawn Artwork</h1>
</div>

<div id="HandDrawn">

    <img src="../../imagesHand/three jags.jpg" width="400" />
    <img src="../../imagesHand/orig parrots.jpg" width="400" />

    <br />
    <h3>My renditions of famous art work</h3>
    <img src="../../imagesHand/maillot and monet.jpg" width="350" />
    <img src="../../imagesHand/max.jpg" width="350" />
    <img src="../../imagesHand/renior latrek sseuralt.jpg" width="350" />

    <br />
    <h3>Hand, feet, face and elbow meets knee study</h3>
    <img src="../../imagesHand/feet.jpg" width="210" />
    <img src="../../imagesHand/hands.jpg" width="210" />
    <img src="../../imagesHand/my hands.jpg" width="200" />

    <br />

    <img src="../../imagesHand/eye  lip.jpg" width="200" />
    <img src="../../imagesHand/face parts.jpg" width="200" />
    <img src="../../imagesHand/knee elbow.jpg" width="200" />

    <br />
    <h3>Nude classroom models</h3>
    <img src="../../imagesHand/standing stick.jpg" width="140" />
    <img src="../../imagesHand/lynn lying.jpg" width="200" />
    <img src="../../imagesHand/sit w glasses.jpg" width="200" />
    <img src="../../imagesHand/lily lying.jpg" width="200" />

    <br />
    <img src="../../imagesHand/three figures.jpg" width="200" />
    <img src="../../imagesHand/crooked nude.jpg" width="200" />
    <img src="../../imagesHand/stand and laying.jpg" width="200" />
    <img src="../../imagesHand/skelton man.jpg" width="110" />

    <br />

</div>
