<br />
<br />
<br />
<div>
    <div id="MyHome">
        <h1>Suzanne Federico</h1>

        <h2>Welcome to my portfolio</h2>
        <h3>I created this website using Visual Studio in about a day.  I did NOT use WordPress or any type of templates. </h3>
        <br />
        <h3>On the Hand Drawn page you will see traditional artwork I created. Please be aware that there are NUDE drawings on this page. You will find pencil, pen and watercolor work that includes my renditions of famous artwork as well as classroom nudes. </h3>
        <h3>On the 3D page are screenshots of 3D artwork created using Autodesk 3ds Max.</h3>
        <h3>The Computer Graphics page has artwork created using Adobe Photoshop, Illustrator and Corel Painter.</h3>
        <h3>On the Projects page you will see screenshots of the group project I worked on called Lister at Coder Camps. Also, watch the top and bottom of the page for a scrolling feature. </h3>
        <h3>The About Me page has info about where to reach me, my LinkedIn address, Github address and a YouTube video that includes my group project at Coder Camps with a mini interview I gave.</h3>
        <br />

        <img src="/images/PORTRAIT.bmp" />
    </div>
</div>



