
<br />
<br />
<br />
<br />
<div>
    <div>
        <div>
            <div style="text-align:center" class='content'>
                <div id="scrollBox" class='visible '>
                    <ul id="scroller">
                        <li id="scrollLines">Projects</li>
                        <li id="scrollLines">HTML</li>
                        <li id="scrollLines">CSS</li>
                        <li id="scrollLines">Front-End</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="Projects">
    <h2>Following are the pages I created using HTML, CSS and Bootstrap</h2>
    <h3>Login page</h3>
    <img src="/images/Home page 1.JPG" width="900" /><br />
    <img src="/images/Home page 2.JPG" width="900" /><br />
    <img src="/images/Home page 3.JPG" width="900" /><br />
    <img src="/images/Home page 4.JPG" width="900" /><br />
    <h3>Current Listing Page</h3>
    <img src="/images/Current Listing Page.JPG" width="900" /><br />
    <h3>User Profile Page</h3>
    <img src="/images/User profile page.JPG" width="900" /><br />
    <h3>Listert Details Page</h3>
    <img src="/images/Lister Details.JPG" width="900" /><br />
    <h3>Privacy Page</h3>
    <img src="/images/Privacy page.JPG" width="900" /><br />
    <h3>Login page</h3>
    <img src="/images/Login page.JPG" width="900" /><br />
</div>
<br/>
<div>
    <div>
        <div>
            <div style="text-align:center" class='content'>
                <div id="scrollBox" class='visible '>
                    <ul id="scroller">
                        <li id="scrollLines">Artistic</li>
                        <li id="scrollLines">Creative</li>
                        <li id="scrollLines">Talented</li>
                        <li id="scrollLines">Imaginative</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>